.home-wrapper {
  width: 90%;
  margin: 0 auto;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 100px;
}

.home-wrapper .home-heading {
  font-family: "Italianno", serif;
  font-size: 70px;
  margin: 0;
}

@media (max-width: 400px) {
  .home-wrapper .home-heading {
    font-size: 60px;
  }
}

.detail-container {
  margin: 0 auto;
  width: 90%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 800px) {
  .detail-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 6fr;
        grid-template-columns: 4fr 6fr;
  }
}

@media (max-width: 650px) {
  .detail-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.detail-container .watch-container {
  margin-left: 0px;
  overflow: hidden;
}

@media (max-width: 650px) {
  .detail-container .watch-container {
    margin-left: 0px;
  }
}

.detail-container .watch-container .big-watch {
  height: 400px;
  width: 250px;
  -ms-grid-column-align: center;
      justify-self: center;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 450px) {
  .detail-container .watch-container .big-watch {
    margin: 0 auto;
    -ms-grid-column-align: center;
        justify-self: center;
    height: 300px;
  }
}

.detail-container .watch-detail {
  width: 500px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-left: 30px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.detail-container .watch-detail .detail-add-to-cart {
  cursor: pointer;
  background-color: #0aff7c;
  font-weight: bold;
  font-size: 18px;
  border: none;
  padding: 5px 10px;
  border-radius: 1000px;
  margin-top: -15px;
  margin-bottom: 15px;
}

.detail-container .watch-detail .detail-watch-description,
.detail-container .watch-detail h2 {
  font-family: "Be Vietnam", sans-serif;
}

.detail-container .watch-detail .price {
  margin-top: 10px;
  font-size: 36px;
}

.detail-container .watch-detail .colour-ways {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail-container .watch-detail .colour-ways div {
  cursor: pointer;
  margin-right: 3px;
}

@media (max-width: 1100px) {
  .detail-container .watch-detail {
    width: 300px;
    margin-left: 0px;
  }
}

@media (max-width: 800px) {
  .detail-container .watch-detail {
    width: 80%;
  }
}

@media (min-width: 800px) {
  .detail-container .watch-detail {
    margin-left: 30px;
  }
}

@media (max-width: 650px) {
  .detail-container .watch-detail {
    width: 100%;
  }
}

.detail-container .watch-collection {
  width: 300px;
  margin-left: 20px;
  overflow-y: scroll;
  height: 90vh;
  text-align: center;
  text-align-last: left;
  /* Hide Scrollbar */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@media (max-width: 900px) {
  .detail-container .watch-collection {
    width: 200px;
    text-align: center;
    max-height: 1100px;
  }
}

@media (max-width: 800px) {
  .detail-container .watch-collection {
    overflow-y: visible;
    width: 100%;
    margin-left: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    height: initial;
  }
}

@media (min-width: 900px) {
  .detail-container .watch-collection {
    max-height: 800px;
  }
}

.detail-container .watch-collection::-webkit-scrollbar {
  display: none;
}

.detail-container .watch-collection .watch-collection-heading {
  font-family: "Italianno", serif;
  font-size: 30px;
  margin: 10px 0;
  text-align: center;
}

@media (max-width: 800px) {
  .detail-container .watch-collection .the-watches {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    grid-auto-flow: column;
  }
}

header {
  position: relative;
  width: 100vw;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  max-width: 1200px;
}

header .menu-left {
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
  height: 70%;
}

header .menu-left .nav-logo {
  margin-top: 5px;
  width: 35px;
}

header .menu-left h3 {
  margin-left: 20px;
}

header .menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  height: 50px;
}

header .menu-right .header-num-cart-items {
  position: absolute;
  right: -15px;
  top: -18px;
  text-align: center;
  width: 17px;
  height: 17px;
  font-size: 16px;
  border-radius: 50px;
  background-color: #ff2222;
}

.footer {
  width: 100%;
  height: 40px;
  background-color: #000;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-social-links {
  display: none;
  width: 50px;
  height: 80%;
  background-color: red;
}

.footer .footer-tagline {
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 3px;
}

.home-watches-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 20px;
  grid-row-gap: 0px;
  -ms-grid-columns: (minmax(120px, 200px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(120px, 200px));
  width: 100%;
  margin-top: 40px;
}

.home-watches-container .home-watch {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 20px;
}

.home-watches-container .home-watch .home-watch-name {
  font-family: "Montserrat", sans-serif;
}

.home-watches-container .home-watch img {
  width: 80%;
  margin: 0 auto;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -20px;
}

.home-watches-container .home-watch .home-watch-link {
  margin-top: -20px;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 2px;
  color: #f80707;
}

.small-watch {
  width: 150px;
  min-width: 90%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  .small-watch {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.small-watch img {
  cursor: pointer;
  width: 120px;
  height: 125px;
  -o-object-fit: contain;
     object-fit: contain;
}

.small-watch .detail-small-watch-name {
  cursor: pointer;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  font-family: "Playfair Display", serif;
  font-family: "Montserrat", sans-serif;
  margin-left: 10px;
  text-align: left;
}

.cart-page-container {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.cart-page-container .cart-heading {
  font-size: 75px;
  margin: 5px 0;
  margin-left: 50px;
  font-family: "Italianno", serif;
}

@media (max-width: 900px) {
  .cart-page-container .cart-heading {
    text-align: center;
    margin-left: 0px;
  }
}

.cart-page-container .cart-items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  .cart-page-container .cart-items-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cart-page-container .cart-items-container .cart-item .home-watch {
  text-align: center;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.cart-page-container .cart-items-container .cart-item .home-watch .home-watch-name {
  margin: 0;
  font-size: 20px;
}

.cart-page-container .cart-items-container .cart-item .home-watch .home-watch-image {
  height: 200px;
  min-width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.cart-page-container .cart-items-container .cart-item .home-watch .cart-watch-price {
  font-size: 25px;
  margin: 0;
}

.cart-page-container .cart-items-container .cart-item .home-watch .cart-watch-quantity-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-page-container .cart-items-container .cart-item .home-watch .cart-watch-quantity-container .quantity-btn {
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  height: 35px;
  border-radius: 300px;
  width: 35px;
  background-color: #000000;
  border: 2px solid #fff;
}

.cart-page-container .checkout-container {
  border-radius: 20px;
  padding: 10px;
  width: 80%;
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-page-container .checkout-container .checkout-total-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.cart-page-container .checkout-container .checkout-total-container * {
  margin: 0 6px;
}

.cart-page-container .checkout-container .checkout-total-container .checkout-total-price {
  margin-left: 0px;
  text-decoration: underline;
}

.cart-page-container .checkout-container .checkout-btn {
  cursor: pointer;
  background-color: #0aff7c;
  font-weight: bold;
  font-size: 18px;
  border: none;
  padding: 5px 10px;
  border-radius: 1000px;
  margin-top: -20px;
}

.cart-page-container .cart-see-watches-btn {
  cursor: pointer;
  background-color: #0aff7c;
  font-weight: bold;
  font-size: 18px;
  border: none;
  padding: 5px 10px;
  border-radius: 1000px;
}

.aux-cart-btn-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #000;
  border: 1px solid #f80707;
  border-radius: 1000px;
  padding: 3px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aux-cart-btn-container .aux-cart-img {
  width: 70%;
  height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}

.aux-cart-btn-container .aux-cart-quantity {
  position: absolute;
  background-color: #ff1010;
  border-radius: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  top: -12px;
  right: -8px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #fff;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

body a {
  color: #fff;
  text-decoration: none;
}

body .app-wrapper {
  position: relative;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=index.css.map */